# Ignore everything
*

# But not these files...
!.vimrc
!.vim
!.bashrc
!.zshrc
!.zenburn.conf
!.eslintrc
!.tmux.conf
!.spacemacs
!.gitignore
!.proton
!wendify/
!wendify/*
!wendify/config/vagrant
!wendify/config/vagrant/*
!.atom/keymap.cson
# etc...
